#electron-menu {
  position: relative;
  display: flex;
  .drag-area {
    width: 100%;
    height: 100%;
    cursor: grab;
  }

  .right-btn {
    display: flex;
    width: 120px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;

    .close,
    .maximize,
    .minimize {
      user-select: none;
      flex: 1;
      transition: 0.46s;

      &:hover {
        background-color: #e5e5e5;
      }
    }

    .close {
      &:hover {
        background-color: #e81123;
        color: #fff;
      }
    }
  }
}